// COLORS
$color-primary: #0f1932;

$color-secondary: #1b2640;
$color-purple: #7f83f0;

$color-gray-dark: #231f20;
$color-gray-dark-2: #213154;
$color-gray-dark-3: #333;
$color-gray-dark-4: #222222;

$color-black: #000;
$color-white: #fff;
$color-pink: #FF1999;